<div class="container">
<h1>Sealab</h1>
<h4><p>A psychedelic-rock band from Washington, D.C.</p>


<p>
  You can listen to our music on <a href="sealab.bandcamp.com">Bandcamp,</a> or check out some demos on <a href="https://soundcloud.com/thesealab">SoundCloud,</a> if you're into that raw stuff.
</p>


<p>
  For bookings or other requests, please reach out to sealabmusic@gmail.com.
</p></h4>

<!-- <%= image_tag "moodylab.JPG", height: 500, width: 1000 %> -->

</div>
